# coding: UTF-8

ssh_hostname=''
ssh_port=22
ssh_username='root'
ssh_password=''
ssh_tunnel = True

remote_user = 'root'
remote_passwd = '123456'
remote_db = 'test_db'
remote_mysql_host = '127.0.0.1'
remote_mysql_port = 3306

local_user = 'root'
local_passwd = '123456'
local_db = 'test_db'
local_mysql_host = '127.0.0.1'
local_mysql_port = 3306
